DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=warehouse

SERVER_PORT=8080
# SERVER_HOST=
# SERVER_READ_TIMEOUT=10s
# SERVER_READ_HEADER_TIMEOUT=5s
# SERVER_WRITE_TIMEOUT=10s
# SERVER_IDLE_TIMEOUT=60s
# SERVER_SHUTDOWN_TIMEOUT=5s
